.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}
#icon {
  width: 90px;
  margin-top: 15px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
#temperature {
  font-size: 30px;
}
.units {
  font-size: 20px;
}
